// include module
@import '../../../../../../dependencies/sass/_flex.scss';
@import '../../../../../../dependencies/sass/_unit.scss';
// current sass
.enroll {
  position: relative;
  @include vertical_direction();
  flex-grow: 1;
  width: 100%;
  min-width: 730px;
  padding: {
    left: 20px;
    right: 10px;
    top: 10px;
  }
  th, td {
    text-align: center;
  }
  .enroll-header {
    width: 100%;
    height: 45px;
    background-color: #e7e7e7;
    color: #9e9e9e;
    th {
      height: 45px;
    }
  }
  .enroll-content {
    @include vertical_direction();
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    table {
      height: auto;
      tr {
        width: 100%;
        height: 54px;
        background-color: #e7e7e7;
        td {
          height: 54px;
          .content-show-detail {
            width: 50px;
            height: 30px;
            background-color: #23bcbb;
            color: #fff;
            border-radius: 3px;
          }
          .content-btn {
            width: 100%;
            height: 52px;
            background-color: transparent;
          }

          .iconfont {
            color: #137c1a;
          }
        }
      }
    }
  }
  .enroll-content::-webkit-scrollbar {
    width: 0 !important
  }
  .table-content-disable {
    background-color: #9e9e9e !important;

    .content-show-detail {
      background-color: #585555 !important;
    }

    .iconfont {
      color: #d53333 !important;
    }
  }
}