// include module
@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
// current sass
.class-select {
  width: 680px;
  height: 540px;
  background-color: #fff;
  border-radius: 5px;
  .select-header {
    @include vertical_center_horizontal_between();
    width: 100%;
    height: 55px;
    padding: {
      top: 5px;
      left: 15px;
    }
    .header-title {
      @include vertical_center();
      width: 300px;
      height: 100%;
      .title-main {
        font-size: 15px;
        color: #333;
      }
    }
    .header-close {
      @include center();
      width: 50px;
      height: 50px;
      font-size: 24px;
    }
  }
  .select-list {
    width: 100%;
    height: 485px;
    padding: {
      bottom: 5px;
      left: 10px;
      right: 10px;
    }
    .list-item {
      width: 220px;
      height: 70px;
      padding: 5px;
      .item-wrap {
        @include vertical_center_horizontal_between();
        width: 210px;
        height: 60px;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        color: #333;
        padding: 5px;
        .wrap-portrait {
          width: 50px;
          height: 50px;
        }
        .wrap-message {
          @include vertical_direction_between();
          width: 150px;
          height: 50px;
          padding: {
            left: 5px;
            top: 5px;
            bottom: 5px;
          }
          .message-name {
            width: 100%;
            font-size: 15px;
          }
          .message-tip {
            width: 100%;
            font-size: 12px;
          }
        }
      }
      .item-wrap:hover {
        background-color: #eee;
      }
    }
  }
}