// include module
@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
// current sass
.student {
  @include vertical_direction();
  flex-grow: 1;

  .student-nav {
    @include vertical_center_horizontal_between();
    width: 100%;
    height: 72px;
    min-height: 72px;

    padding: {
      bottom: 12px;
      left: 20px;
      right: 20px;
    }
    .student-operation {
      @include vertical_center_horizontal_between();
      width: 460px;
      height: 40px;
    }
    .nav-btn {
      height: 40px;
      font-size: 15px;
      padding: {
        left: 15px;
        right: 15px;
      }
      color: #fff;
      background-color: #6c72fe;
      border-radius: 3px;
      i {
        margin: {
          right: 5px;
        }
      }
    }
  }
}
