// include module
@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
// current sass
.student-select {
  width: 740px;
  height: 590px;
  background-color: #fff;
  border-radius: 5px;
  .select-header {
    @include vertical_center_horizontal_between();
    width: 100%;
    height: 55px;
    padding: {
      top: 5px;
      left: 15px;
    }
    .header-title {
      @include vertical_center();
      width: 300px;
      height: 100%;
      .title-main {
        font-size: 15px;
        color: #333;
      }
    }
    .header-close {
      @include center();
      width: 50px;
      height: 50px;
      font-size: 24px;
    }
  }
  .select-content {
    width: 100%;
    height: 485px;
    overflow-y: scroll;
    padding: {
      bottom: 5px;
      left: 10px;
      right: 10px;
    }
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    .content-list {
      width: 100%;
      .list-item {
        width: 120px;
        height: 160px;
        padding: 5px;
        .item-warp {
          @include column_center_between();
          width: 110px;
          height: 150px;
          padding: {
            top: 5px;
            bottom: 5px;
          }
          border: 1px solid #cdcdcd;
          border-radius: 5px;
          color: #333;
          .warp-portrait {
            width: 70px;
            height: 70px;
          }
          .warp-name {
            font-size: 15px;
          }
          .warp-phone {
            font-size: 12px;
          }
          .warp-school {
            font-size: 12px;
          }
        }
        .item-warp:hover {
          background-color: #eee;
        }
      }
      .selected {
        background-color: #acd2ae !important;
      }
    }
  }
  .select-content::-webkit-scrollbar {
    width: 0 !important
  }
  .select-operation {
    @include horizontal_end();
    width: 100%;
    height: 50px;
    padding: {
      top: 7px;
      bottom: 7px;
      right: 10px;
    }
    .btns-confirm, .btns-cancel {
      height: 100%;
      padding: {
        left: 15px;
        right: 15px;
      }
      font-size: 14px;
      color: #fff;
    }

    .btns-confirm {
      background-color: #137c1a;
    }

    .btns-cancel {
      background-color: #d53333;
      margin: {
        left: 20px;
      }
    }
  }
}