@import './_flex.scss';
@import './_unit.scss';

button {
  div {
    $param: (flex flex) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
  }
}

.color-white {
  color: #fff;
}

.color-dark {
  color: #3e3e3e;
}

.color-cyan {
  color: #5993fa;
}

.bg-grey {
  background-color: #bdbdbd !important;
}


.fz-15 {
  font-size: 15px;
}

.fz-18 {
  font-size: 18px;
}

.fz-24 {
  font-size: 24px;
}

.fz-28 {
  font-size: 28px;
}

.border-1 {
  border: 1px solid #d3d3d3;
}

.table-reset {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 14px;
  th, td {
    text-align: center;
    border:1px solid #dbdbdb;
  }
}


.table-70 {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}
.table-90 {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}
.table-100 {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}
.table-110 {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
}
.table-120 {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}
.table-130 {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}
.table-150 {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.table-170 {
  width: 170px;
  min-width: 170px;
  max-width: 170px;
}
.table-210 {
  width: 210px;
  min-width: 210px;
  max-width: 210px;
}

td {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}